{% extends 'template.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="flex justify-center items-center min-h-screen">
        <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-md">
            <h1 class="text-2xl font-bold text-center mb-6">Inscription</h1>

            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="bg-red-100 text-red-700 px-4 py-3 rounded mb-4">
                    {{ flash_error }}
                </div>
            {% endfor %}

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm, {'attr': {'class': 'space-y-6'}}) }}
            
            <!-- Prénom -->
            <div>
                {{ form_row(registrationForm.firstname, { 'label': 'Prénom','attr': {'class': 'block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm'}}) }}
            </div>

            <!-- Nom -->
            <div>
                {{ form_row(registrationForm.lastname, {  'label': 'Nom','attr': {'class': 'block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm'}}) }}
            </div>

            <!-- Email -->
            <div>
                {{ form_row(registrationForm.email, {'attr': {'class': 'block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm'}}) }}
            </div>

            <!-- Mot de passe -->
            <div>
                {{ form_row(registrationForm.plainPassword, {
                    'label': 'Mot de passe',
                    'attr': {'class': 'block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm'}
                }) }}
            </div>

            <!-- Accepter les conditions -->
            <div class="flex items-start">
                <div class="flex items-center h-5">
                    {{ form_row(registrationForm.agreeTerms, {'attr': {'class': 'h-4 w-4 text-blue-600 border-gray-300 rounded focus:ring-blue-500'}}) }}
                </div>
                <div class="ml-3 text-sm">
                    <label for="agreeTerms" class="font-medium text-gray-700">J'accepte les termes et conditions</label>
                </div>
            </div>

            <!-- Bouton Inscription -->
            <button type="submit" class="w-full bg-blue-900 text-white py-2 px-4 rounded-lg shadow hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                Inscription
            </button>
            
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
